<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Temel Uygulama Bilgileri -->
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Mobilperosnel</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>mobilperosnel</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- iOS Gereksinimleri ve İzinler -->
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- Bildirim ve Arka Plan İşlemleri -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
        <string>location</string>
        <string>remote-notification</string>
    </array>

    <!-- Kullanıcı Bildirim İzinleri -->
    <key>NSUserNotificationsUsageDescription</key>
    <string>Uygulama bildirim göndermek için izin istiyor</string>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>

    <!-- Firebase Entegrasyonu -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>

    <!-- Ağ ve Güvenlik Ayarları -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>Uygulama, yerel ağdaki cihazlarla iletişim kurmak için bu izne ihtiyaç duyar.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Konum İzinleri -->
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Location Needed</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location Needed</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location Needed</string>

    <!-- UI ve Oryantasyon Ayarları -->
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Diğer Ayarlar -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
</dict>
</plist>